#defaultLayout {
    display: flex;
}

#defaultLayout aside {
    width: 240px;
    background-color: #5b08a7;
    padding: 1rem
}

#defaultLayout aside > a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

#defaultLayout aside > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout .content {
    flex: 1;
}

#defaultLayout header {
    height: 80px;
    padding: 2rem 3rem;
    background-color: rgb(114, 40, 241);
    color: white;
    box-shadow: 1px 1px 2px rgb(248, 247, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#defaultLayout main {
    padding: 2rem;
    color: white;
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-logout {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    color: white;
    transition: all 0.3s;
    border-radius: 6px;
    margin-left: 15px;
}
.btn-logout:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.alert {
    padding: 1rem;
    color: #ff4040;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
